.about {

  &__inner {
    background-color: #D8F1F0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__body {
    margin-top: rem(57px);
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;

      @media #{media('<',t)} {
      flex-direction: row;
    }

    @media #{media('<',m)} {
      .container {
        padding-inline: rem(20px);
      }

      justify-content: center;
      flex-direction: column;
    } 
  }

/*  &__body-content{
    @media #{media('<',t)} {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }

*/

  &__description {
    margin-top: rem(20px);
    width: rem(530px);
    row-gap: 18px;
    display: flex;
    flex-direction: column;
    align-items: start;

    @media #{media('<',t)} {
      width: 100%;
    }

    @media #{media('<',m)} {
      text-align: start;
      width: 100%;

    }
  }

  &__image {
    @media #{media('<',t)} {
      position: absolute;
      right: -30%;
    }

    @media #{media('<',m)} {
      margin-top: rem(31px);
      position: unset;
    }


  }

  &__title-text {
    @media #{media('<',m)} {
      font-size: rem(25px);
      line-height: rem(26px);
      text-align: center;
    }
  }


  &__description-text {
    font-weight: 400;
    font-size: rem(18px);
    line-height: rem(28px);

    @media #{media('<',m)} {
      font-size: rem(14px);
      line-height: 130%;
    }
  }

 

  &__button-item {
    margin-top: rem(19px);


    @media #{media('<',m)} {
      display: flex;
      justify-content: center;
    }
  }


  &__body-reverse {
    margin-top: rem(57px);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    overflow: hidden;
    align-items: center;

    

    @media #{media('<',m)} {
      .container {
        padding-inline: rem(20px);
      }

      justify-content: center;
      flex-direction: column;
    }
  }


}