.about {

  &__inner {
    background-color: #D8F1F0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__body {
    margin-top: rem(57px);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;

    @media #{media('<',t)} {
      position: relative;
      align-items: center;
    }

    @media #{media('<',m)} {
      .container {
        padding-inline: rem(20px);
      }
      justify-content: center;
      flex-direction: column;
    }
  }

  

    &__description {
      margin-top: rem(20px);
      width: rem(530px);
      row-gap: 18px;
      display: flex;
      flex-direction: column;
      align-items: start;

      @media #{media('<',m)} {
        text-align: start;
        padding-inline: rem(20px);
      }
    }

    &__image {
      @media #{media('<',d)} {
        position: relative;
        left: 0;
      }

      @media #{media('<',t)} {
        margin-top: rem(30px);
      }
    }

    &__title-text {
      @media #{media('<',m)} {
        text-align: center;
      }
    }

    
    &__description-text {
      font-weight: 400;
      font-size: rem(18px);
      line-height: rem(28px);

      @media #{media('<',m)} {
        font-size: rem(14px);
        line-height: 130%;
      }
    } 

    &__image-reverse {
      object-fit: none;

      @media #{media('<',d)} {
        position: relative;
        right: 0;

      }
    }

  &__button-item{
    @media #{media('<',m)} {
      display: flex;
      justify-content: center;
    }
  }


    &__body-reverse {
      padding-top: rem(57px);
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding-bottom: rem(90px);
      gap: rem(20px);

      @media #{media('<',d)} {
        position: relative;
        align-items: center;
        overflow: hidden;
      }

      @media #{media('<',m)} {
        .container {
          padding-inline: rem(20px);
        }
        justify-content: center;
        flex-direction: column;
      }
    }

    &__button {
      margin-top: rem(16px);
      padding: rem(10px) rem(40px);
    }
  }

