extends ../../layout/layout

block variables
  -
    const pageName = 'ui'
    const pageTitle = 'ui'

block content
  main.ui-page(data-barba='container', data-barba-namespace=pageName)
    .inner
      br
      br
      br
      br
      br
      br
