.documents {
  &__inner {
    background-color: #D8F1F0;

  }

  &__body {
    text-align: center;
    padding: rem(43px) 0 rem(43px) 0;
  }

  &__total {
    line-height: normal;
  }

  &__text {
    font-size: rem(18px);
    font-weight: 300;
    line-height: 1.2;
  }



}