.h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 45.5px;
  letter-spacing: 0%;
}


.main-hero {
  position: relative;

  height: rem(676px);

  @media #{media('<',d)} {
    height: rem(516px);
  }





  &__inner {
    padding-top: rem(190px);
  }

  &__body {
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: rem(586px);
    row-gap: rem(14px);
  }


  &__description-body {
    margin-top: rem(14px);
    display: flex;
    flex-direction: column;
    gap: rem(14px);
  }

  &__description-title {
    font-weight: 500;
    font-size: rem(24px);
    line-height: 130%;
  }

  &__description-text {
    margin-top: rem(14px);
    font-weight: 400;
    font-size: rem(16px);
    line-height: 130%;
    padding-right: rem(170px);
  }


  &__list {
    height: rem(31px);
    display: flex;
    align-items: center;
    gap: rem(16px);



  }

  &__item {
    font-weight: 500;
    font-size: rem(18px);
    line-height: 130%;
    opacity: 0.5;
    width: rem(15px);

    &:hover {
      opacity: 1;
      color: #061224;
      font-weight: 500;
      font-size: rem(24px);

    }

  }



  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


  &__image-img {
    width: 100%;
    height: rem(676px);
    object-fit: cover;
  }


  &__button-register {
    margin-top: rem(31px);
    border-radius: var(--border-radius);
    padding: rem(17px) rem(32px);
  }

  &__pagination {
    position: absolute;
    bottom: rem(29px);
    left: 50%;
    transform: translateX(-50%);
  }


  &__pagination-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(25px);
  }

  &__pagination-item {
    width: rem(10px);
    height: rem(10px);
    border-radius: 50%;
    border: 2px solid #1064E5;
    background-color: #DEEEFC;

    &:hover {
      background-color: #1064E5;
    }
  }
}