.friends {


  &__inner {
    position: relative;
    padding: rem(47px) 0 rem(60px);
    padding-inline: rem(204px);
  }

  &__title {
    text-align: center;
  }

  &__list {
    margin-top: rem(46px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(134px);
  }

  &__pagination {
    position: absolute;
    bottom: rem(50px);
    left: 50%;
    transform: translateX(-50%);
  }

  &__pagination-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(25px);
  }

  &__pagination-item {
    width: rem(10px);
    height: rem(10px);
    border-radius: 50%;
    border: 2px solid #1064E5;
    background-color: #fff;

    &:hover {
      background-color: #1064E5;
    }
  }
}