.footer {
  


  a {
    color: #ffffff;
  }

  a:hover {
    color: var(--color-light-gray);
  }



  &__inner {
    color: #ffffff;
    background-color: #061224;
    height: rem(288px);
    padding: rem(50px) 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__row-left {
    display: flex;
  }

  &__logo {
    svg {
      width: rem(130px);
      height: rem(40px);
    }
  }

  &__nav {
    display: flex;
    margin-left: rem(157px);
    column-gap: rem(47px);

  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    row-gap: rem(6px);

  }

  &__nav-item:nth-child(3) {
    margin-top: rem(32px);
  }


  &__nav-link {
    font-family: $font;
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(24px);
  }

  &__row-right {
    display: flex;
    column-gap: rem(80px);
  }

  &__contacts-mail,
  &__contacts-tel {
    display: flex;
    flex-direction: column;
    font-style: normal;
  }

  &__contacts-tel {
    font-family: $font;
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(24px);
    opacity: 0.5;
  }

  &__extra {
    margin-top: rem(16px);
    opacity: 0.5;
  }

  &__extra-inner {
    display: flex;
  }

  &__extra-right {
    display: flex;
    margin-left: rem(180px);
    column-gap: rem(47px);
    font-weight: 400;
    font-size: rem(12px);
    line-height: rem(24px);


    &:hover {
      color: #423d3d;
    }
  }
}