.main__advantages {

  &-inner {
    display: flex;
    justify-content: center;
    padding: rem(75px) rem(225px);

    @media #{media('<',t)} {
      padding: rem(35px) rem(50px);
    }
  }

  &-list {
    display: flex;
    gap: rem(54px);

    @media #{media('<',t)} {
      column-gap: rem(20px);
    }
  }

  &-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: rem(20px);

    @media #{media('<',t)} {
    align-items: flex-start;
    }
  }

  &-item-title {
    font-weight: 500;
    font-size: rem(24px);
  }

  &-item-text {
    font-weight: 400;
    font-size: rem(16px);
    line-height: 130%;
    opacity: 0.8;
  }
}

