.header {

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;

  @media #{media('>',t)} {
    .visible-mobile {
      display: none !important;
    }
  }

  &__logo {
    svg {
      width: rem(130px);
      height: rem(40px);
    }
  }

  &__inner {
    padding: rem(36px) rem(104px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DEEEFC;

    

  }

  @media #{media('<',t)} {
    .header__inner {
      width: 100%;
      padding: rem(35px);
    }

    .header__actions {
      gap: rem(10px);
    }
  }

  @media #{media('<',t)} {

    .header__menu,
    .header__actions,
    .header__menu-item {
      display: none !important;
    }
  }

  .button {
    border-radius: var(--border-radius);
    padding: rem(8px) rem(32px);
    width: fit-content;
    letter-spacing: 0.04em;

  }


  &__button-burger {
    position: relative;
    z-index: 11;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: rem(27px);
    height: rem(27px);
    aspect-ratio: 1;
  }

  &__button-burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: rem(3px);
    background: #1064E5;
    border-radius: rem(10px);
    bottom: 0;
  }

  &__button-burger span:nth-child(1) {
    top: 0;
  }

  &__button-burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  &__menu {
    flex-shrink: 0;
  }

  &__menu-list {
    margin-left: rem(182px);
    display: flex;
    align-items: center;
    gap: rem(34px);
    letter-spacing: 0.04em;

  }

  @media #{media('<',d)} {
    &__menu-list {
      margin-left: rem(20px);
      gap: rem(20px);
    }
  }

  &__menu-item {
    &:nth-child(4) {
      margin-left: rem(24px);

      @media #{media('<',d)} {
        margin-left: rem(10px);
      }
    }
  }

  &__menu-link {
    display: flex;
    align-items: center;
    gap: rem(5px);

    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(24px);


    &:hover {
      .header__arrow-down {
        rotate: 180deg;
        transition: rotate 0.3s ease-in-out;
        cursor: pointer;
      }
    }
  }

  &__button-enter {
    margin-left: rem(32px);
    background-color: #fff;

    @media #{media('<',d)} {
      margin-left: 0;
    }


  }



}