.header { 


  &__inner {
    padding: 36px 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .header__actions {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .button {
    border-radius: 45px;
    padding: 8px 32px;
    width: fit-content;
    letter-spacing: 0.04em;
    
  }

  &__menu {
    flex-shrink: 0;
  }

  &__menu-list {
    margin-left: 182px;
    display: flex;
    align-items: center;
    gap: 34px;
    letter-spacing: 0.04em;

  }

  &__menu-item {
    &:nth-child(4) {
      margin-left: 24px;
    }
  }

  &__menu-link {
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

   
    &:hover {
      .header__arrow-down {
        rotate: 180deg;
        transition: rotate 0.3s ease-in-out;
        cursor: pointer;
      }
    }
  }

  &__button-enter {
    margin-left: 32px;
    background-color: #fff;
    

  }

}